#hibby {
  text-align: center;
  background: linear-gradient(#ff0000 0%, #ffff00 100%);
  background-color: yellow;
  background-repeat: no-repeat;
  
}



.hobby {
  color: blue;
}

.button {
  color: brown;
}

img {
  width: 300px;
  height: 225px;
  border-radius: 180px;
  margin: 100px;
}

.give {
  font-family: 'Fraunces', serif;
  color: green;
}

.make {
  color: purple;
}

#parae {
  text-align: center;
  background-color: pink;
  
}

body {
  
}

#e {
  font-family: Arial;
  text-shadow: none;
}

.line {
  background-color: black;
  width: 100px;
  height: 5px;
  margin: 5px auto;
}

.menu {
 list-style: none;
 font-family: 'Fraunces', serif;
 position: absolute;
 top: 10px;
 right: 30px;
 cursor: pointer;
}

.links {
 float: left;
 color: pink;
 font-weight: bold;
 padding-top: 5px;
 padding-left: 9px;
 padding-right: 0px;
}

.links:hover {
 background-color: antiquewhite;
}

body {
 text-align: center;
}

html {
 scroll-behavior: smooth;
}

#review {
 background-color: turquoise;
}

.article {
 font-family: cursive;
 font-weight: bold;
}

#working {
 background-color: aqua;
}

#inspire {
 background-color: yellow;
}

#yahoo {
 font-family: 'Fraunces', serif;
}

#picture1 {
 transition: transform .2s;
 border: 10px solid #AAAAAA;
}

#picture1:hover {
 transform: scale(0.9)
}

#picture2 {
 transition: transform .2s;
 border: 10px solid #AAAAAA;
}

#picture2:hover {
 transform: scale(0.9)
}

#contact {
 background-color: red;
}